apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: microservices
  labels:
    app: notification-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: ghcr.io/be-boiler/nestjs-microservices-template/notification-service:latest
          envFrom:
            - configMapRef:
                name: microservices-config
          resources:
            requests:
              memory: '64Mi'
              cpu: '50m'
            limits:
              memory: '128Mi'
              cpu: '250m'
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - 'pgrep -x node'
            initialDelaySeconds: 30
            periodSeconds: 10
